

body {
    margin:0;
    padding: 0; 
    /* background-image: url(../../images/background_1.jpg); */
    background-size:contain;                   
    background-repeat: no-repeat;
    background-color: #e0ebf1;
    
    
}

a {
    color:inherit;
    text-decoration: none;
}

figure img {
   position: abolut;
   width: 100%; 
   max-width: 400px; 
   height: auto; 
   margin: px; 
   display:inline;
   float: left;
}

 .container-header {
   padding: 10px 0;
   background-color: #c0bdb7;
   width: 100%;
   position:absolute;
   top:0;
}  

.containerMainBody {
   text-align: justify;
   text-justify: inter-word;
   margin-left: 20%;
   margin-right: 20%;

}
 .subtitle{
    margin-top: 6% ;
    margin-bottom: 10px;
    font-family: Oswald, sans-serif;    
    font-size: 3ex;
    font-weight: lighter;
    color: black;
}


.square:hover +
    {
      opacity: 0.6;
      transition: .6s ease;
      filter: alpha(opacity=30);
    }

.title {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
    font-family: Oswald, sans-serif;
    font-size: 11.5ex;
    font-weight: bolder;
} 

 .introText{
   margin-top: 10px;
   font-family: Oswald, sans-serif;    
   font-size: 3ex;
   font-weight: bold;
}

 .opinions {
   margin-top: 20px;
   margin-left: 50px;
   font-family: Oswald, sans-serif;
   list-style-type: circle;
   list-style-position: inside;
   text-indent: -1em;

}

.containerExamples{
   margin-left: 23%;
   margin-right: 20%;
   align-content: center;
   display: block; 
   flex-flow: row wrap;
   grid-auto-flow:row; 
   overflow: auto;
}


.container-footer {
   font-family: Oswald, sans-serif;
   font-size: 1.5ex;
   text-align:right;
   padding: 10px 0; 
   background-color: #c0bdb7;
   width: 100%;
   position:relative;
   bottom:0;
   
}

