body {
    margin:center;
    padding: center; 
    background-image: url(/images/background_1.jpg);
    background-size: cover;                     
    background-repeat: no-repeat;
    
}

a {
    color:inherit;
    text-decoration: none;
   }
  

.mainBody {
margin-left: 29%;
}


 .subtitle{
    margin-top: 9.4% ;
    font-family: Oswald, sans-serif;    font-size: 3ex;
    font-weight: normal;
 }


.title {
    margin-top: -20px;
    font-family: Oswald, sans-serif;
    font-size: 12ex;
    font-weight: bolder;
 } 

 .infoText{

    font-family: Oswald, sans-serif;    
    font-size: 3ex;
    font-weight: bold;
 }

